/* styles.css */

body.login-body {
  background: linear-gradient(135deg, #0f0f0f, #1c1c1c);
  font-family: 'Orbitron', sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-container {
  background-color: #1a1a1a;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 30px #00fff2;
  text-align: center;
  width: 300px;
  animation: fadeIn 1.5s ease;
}

@keyframes fadeIn {
  from { opacity
